*{
border: 0px;
margin: 0px;
box-sizing: border-box;
}
html{
font-size: 62.5%;
}
.app{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: rgb(195, 195, 235);
}
.carosel-card-ovearall{
width: 40rem;
height: 40rem;
background-color:white;
border-radius: 2rem;
}
.image-card-holder{
width: 90%;
height: 20rem;
background-color: black;
margin: auto;
margin-top: 2rem;
border-radius: 2rem;
}
.carosel-img{
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 2rem;
}
.carosel-text-box{
padding: 1rem;
}
.carosel-title{
width: max-content;
background-color: rgb(161, 234, 161);
padding: .5rem;
border-radius:.5rem;
}
.carosel-description-text{
font-size: 1.5rem;
padding: 1rem;

}
.chevron-icon{
font-size: 8rem;
}
