.overall-container{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: rgb(196, 196, 239);
}
.container{
width:20%;
/* margin:10px auto; */

}
.carousel{
height: 300px;
position: relative;
overflow: hidden;
background-color: white;
padding: .5rem;
border-radius: 1rem;


}
.slider{
height: 100%;
display:flex;
width: 400%;
transition: all 0.4s;

}
.slider section{
    flex-basis: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}
.image-div{
background-color: red;
width: 90%;
height: 10rem;
margin-top: 1rem;
margin-left: auto;
margin-right: auto;
border-radius: 2rem;
}
.actual-img{
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 1rem;
}
.text-box{
padding-inline: .5rem;
}
.heading-title{
color: white;
border-radius: 1rem;
width: max-content;
padding:.3rem
}
.describe{
font-size: 1rem;
}
.controls .arrow{
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    font-size: 60px;
}

.arrow.left{
    left: 10px;
}
.arrow.right{
right: 10px;
}
.controls ul{
position: absolute;
bottom: 20px;
left: 50%;
transform: translate(-50%);
list-style: none;
display: flex;
padding: 0px;
margin: 0px;
}
.controls ul li{
width: 14px;
height: 14px;
border: 2px solid #333;
border-radius: 50px;
margin: 10px;
background-color: #333;
cursor: pointer;

}
.controls ul li.selected{
background: transparent;
}